<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Prediction</title>
</head>

<body>

<h1>Student Performance Prediction</h1>

<form>

<label>Gender</label><br>
<select>
    <option>Male</option>
    <option>Female</option>
</select>

<br><br>

<label>Reading Score</label><br>
<input type="number">

<br><br>

<label>Writing Score</label><br>
<input type="number">

<br><br>

<button type="submit">Predict</button>

</form>

</body>
</html>